div.table-container {
    --standard-sky-color: #43A4FF;
    --standard-sky-color-hover: #3b91e0;

    position: relative;
    padding: .5em;

    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;

    width: 100%;
    height: 100%;

    border-radius: 2px;
}

div.queries-container {
    display:  flex;
    align-items:  center;
    justify-content: space-between;

    height: 35px;
    margin-bottom: .3em;
}

div.query-input-container input { /* remove */
    outline: none;
    letter-spacing: .07rem;

    padding-left: .2em;
    
    border: 2px solid #31313186;
    border-radius: 4px 6px 6px 4px;
    background-color: hsl(0, 0%, 98%);

    transition: border-color 200ms ease-in-out;
}

div.query-input-container input:hover, 
div.query-input-container input:focus {
    border-color: #43A4FF;
}

div.query-input-container input::placeholder {
    font-style: italic;
    letter-spacing: .07rem;
}

div.query-button-container button, 
button.search-btn {
    width: 80px;

    letter-spacing: .07rem;

    color: #FBFBFB; 

    border: none;
    border-radius: 5px;
    transition: background-color 200ms ease-in-out;
}

button.create-btn {
    background-color: var(--standard-sky-color);
}

button.list-btn {
    background-color: #5A5A5A;
}

button.search-btn {
    padding: 3px;
    background-color: var(--standard-sky-color);
}

button.list-btn:hover {
    background-color: #707070;
}

button.search-btn:hover, button.create-btn:hover {
    background-color: var(--standard-sky-color-hover);
}

th.field {
    color: #FBFBFB;
}

div.table-container table {
    text-align: center;
    
    width: 100%;
    height: auto;

    max-height: 90%;
    
    background-color: hsl(0, 0%, 98%);
    box-shadow: 2px 2px 8px hsla(240, 1%, 31%, 0.6);
}

div.table-container table thead {
    height: 45px;
    background-color: var(--standard-sky-color);
    box-shadow: 2px 2px 5px hsla(209, 73%, 55%, .6);
}

div.table-container table tbody {
    overflow-y: auto;
}

table.register-table tbody td:not(:first-child) {
    padding-top: .7em;
    padding-bottom: .7em;
    padding-right: .7em;       
  }

table tbody td.updt_del_buttons {
    display: flex;

    height: 100%;

    align-items: center;
    justify-content: space-evenly;
}

tbody td.updt_del_buttons > button {
    position: relative;

    margin: 0 .2em 0 .2em;
    width: 20px;
    height: 20px;

    border: none;
    background-color: transparent;
}

div.pag {
    display: flex;
    justify-content: right;

    margin-top: 1.5em;
}

div.pages-container {
    display: flex;
    align-items: center;
    justify-items: center;
}

div.pag div.pages-container > button {
    display: flex;

    width: 20px;
    height: 20px;
    padding: 0 .4em 0 .4em;
    margin: 0 .2em 0 .2em;
    
    justify-content: center;
    
    color: #FBFBFB;
    border: none;
    border-radius: 3px;
    background-color: #31313186;
}

div.pages-container > button h4 {
    font-size: 1rem;
}

div.pag button:first-child,
div.pag button:last-child {
    position: relative;

    width: 18px;
    height: 18px;
    margin: 0 .5em 0 .5em;
    padding: 0;
    
    border: none;
    background-color: transparent;
}

button#focus {
    background-color: #43A4FF;
}
