<div class="table-container">
    <div class="queries-container">
        <div class="query-input-container">
            <input type="text", placeholder="Insert text" id="search-r-input">
            <button class="search-btn" id="search-btn">Search</button>
        </div>
        <div class="query-button-container">
            <button class="list-btn" id="list-btn">List</button>
            <button class="create-btn" id="create-btn">Create</button>
        </div>
    </div>
    <table class="register-table" id="registers-table" table-name="proyecto">
        <thead>
            @*    loaded header      *@
        </thead>
        <tbody>
            @*   Loaded registers    *@
        </tbody>
    </table>
    <div class="pag">
        <button>
            <img src="~/images/left-arrow.png" alt="left-arrow" class="left-arrow" asp-append-version="true">
        </button>
        <div class="pages-container">
            <button class="list" id="focus"><h4>1</h4></button>
            <button class="list"><h4>2</h4></button>
            <button class="list"><h4>3</h4></button>
            <button class="list"><h4>4</h4></button>
            <button class="list"><h4>5</h4></button>
        </div>
        <button>
            <img src="~/images/right-arrow.png" alt="right-arrow" class="right-arrow" asp-append-version="true">
        </button>
    </div>
</div>

<div class="table-pages">
    <button class="table-c" id="proyecto" table-name="proyecto">Proyecto</button>
    <button class="table-c" id="tipo_proyecto" table-name="tipo_producto">Tipo Producto</button>
    <button class="table-c" id="termino_clave" table-name="termino_clave">Termino Clave</button>
</div>

@* fragment? *@
<partial name="MTemplates/_NewRegisterForm.cshtml"  />
<partial name="MTemplates/_UpdateRegisterForm.cshtml" />
@* fragment? *@