
<div class="form-container create"  id="form-background-blurred">
    <div class="generic-form-tag">
        <h3>Create Register</h3>
        <form id="form" method="post" type="post">

            <input type="submit" value="post" class="create-btn" />
        </form>
    </div>
</div>
