
<div class="form-container update" id="form-background-blurred">
    <div class="generic-form-tag">
        <h3>Update Register</h3>
        <form id="form" method="post" type="update">

            <input type="submit" value="update" class="update-btn" />
        </form>
    </div>
</div>
