@page "/login"

@{
    Layout = "_AuthLayout";
    ViewData["Subtitle"] = "User Login";
}

<form method="post" id="form" b-dsiw5clz32>
    <input type="text" name="username" id="username" placeholder="Username" b-dsiw5clz32 >
    <input type="password" name="password" id="password" placeholder="Password" b-dsiw5clz32 >
    <div class="checkbox-container" b-dsiw5clz32>
        <input type="checkbox" name="remember" id="remember" b-dsiw5clz32>
        <h6 b-dsiw5clz32>Remember</h6>
    </div>

    <input type="button" value="Log in" class="login-btn" b-dsiw5clz32 >
</form>
