div.form-container {
    --standard-lower-sky-color: #6e5dad;
    --standard-sky-color: #624bb3;
    --standard-sky-color-hover: #40258e;
    --subtle-grey: #9b9b9b;

    --cloud-primary-color: #fbfbfb;
    --cloud-secundary-color: #e7e7e7;

    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    height: 100%;

    transform: translate(-50%, -50%);

    Backdrop-filter: blur(5px);
    background-color: hsla(0, 0%, 24%, 0.651);

    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

div.form-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    Backdrop-filter: blur(5px);
    z-index: 1;
}

div.form-container div.generic-form-tag {
    --standard-b-radius: 10px;

    z-index: 999;

    width: 350px;
    padding-bottom: 1em;

    border-bottom-left-radius: var(--standard-b-radius);
    border-bottom-right-radius: var(--standard-b-radius);

    background-color: #eeeeee;
    box-shadow: 3px 3px 8px hsl(0, 1%, 14%);
}

div.form-container div.generic-form-tag h3 {
    padding: .2em;

    color: var(--cloud-primary-color);

    background-color: var(--standard-sky-color);
    border-bottom: 2px solid #6b6b6b;
}

div.generic-form-tag label:not(div.generic-form-tag:first-child) {
    margin-top: .6em;
}

div.form-container div.generic-form-tag input {
    margin-top: .2em;
}

div.form-container div.generic-form-tag input:hover, 
div.form-container div.generic-form-tag input:focus {
    border: 2px solid var(--standard-sky-color);
}

input#post-btn,
input#update-btn {
    color: var(--cloud-primary-color);

    margin-top: 1em;
    background-color: var(--standard-lower-sky-color);
    transition: all 200ms ease-in-out;
}

input#post-btn:hover,
input#update-btn:hover {
    color: var(--cloud-secundary-color);
    background-color: var(--standard-sky-color);
}

button.create-btn {
    margin-top: 1.2em;

    color: var(--cloud-primary-color);
    letter-spacing: .07rem;
    
    background-color:  var(--standard-sky-color);
    
    border: none;
    border-radius: var(--standard-b-radius);
    transition: background-color 200ms ease-in-out;
}

div.role-manager-container {
    display: flex;
    flex-direction: column;

    & div.role-container {
        overflow-y: auto;
        margin: .2em 0;
        border: 2px solid var(--subtle-grey);

        div {
            padding: .2em .5em;
            cursor: pointer;
            transition: all 200ms ease-in-out;
        }

        div:hover {
            color: var(--cloud-primary-color);
            background-color: var(--subtle-grey);
        }
    }

    & button {
        align-self: self-start;
        border: none;
        border-radius: 5px;
        color: var(--cloud-primary-color);
        background-color: #a5a5a5;
        transition: all 200ms ease-in-out;
    }

    & button:hover {
        outline: 1px solid var(--standard-lower-sky-color);
        background-color: #c2c2c2;
    }
}

div.js-display-create_box,
div.js-display-update_box {
    opacity: 1;
    pointer-events: all;
}
