html {
  width: 100vw;
  height: 100vh;
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  min-height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  height: 100vh;
}

form {
  padding: 0 2em 2em 2em;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  outline: none;
  letter-spacing: .07rem;

  padding-left: .2em;
  
  border: 2px solid #31313186;
  border-radius: 4px 6px 6px 4px;
  background-color: hsl(0, 0%, 98%);

  transition: border-color 200ms ease-in-out;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 100%;
  height: 100%; 

  object-fit: contain;
  transform: translate(-50%, -50%);
}


div.pop-up {
  --standard-sky-color: #624bb3;
  --cloud-primary-color: #fbfbfb;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  margin-top: .7em;
  padding: .3em;
  width: auto;
  height: auto;
  min-width: 200px;
  max-width: 300px;
  max-height: 200px;

  background-color: #ebeaea;
  box-shadow: 2px 2px 8px hsla(240, 1%, 31%, 0.6);
  border-radius: 5px;

  & button {
      position: relative;
      float: right;

      color: var(--cloud-primary-color);

      border: none;
      border-radius: 5px;
      background-color: var(--standard-sky-color);
      transition: all 300ms ease-in;
  }
}

div.pop-up hr {
  margin: .5em 0;
}

