@page

@{
    ViewData["Title"] = "Home";

    string[] fields = {"C.C", "Room", "Type", "House"}; // Query to DB and save the fields
}

<div class="table-container">
    <div class="">
        <div class="query-input">
            <input type="text">
            <button class="search-btn">Search</button>
        </div>
        <div class="buttons-container">
            <button class="list-btn"></button>
            <button class="create-btn"></button>
        </div>
    </div>
    <table class="register-table">
        <thead>
            <tr>
                @foreach (string field in fields) 
                {
                    <th class="field" scope="col">@field</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div></div>
</div>
