header.header {
    grid-area: header;
  
    height: 70px;
    padding: .2em 1em;
  
    font-weight: 500;
  
    color: #fbfbfb;
    background-color: hsl(253, 41%, 40%) !important;
    box-shadow: 0 3px 5px rgb(78, 78, 78) !important;
}
  