<div class="table-container">
    <div class="queries-container">
        <div class="query-input-container">
            <input type="text", placeholder="Insert text">
            <button class="search-btn">Search</button>
        </div>
        <div class="query-button-container">
            <button class="list-btn">List</button>
            <button class="create-btn">Create</button>
        </div>
    </div>
    <table class="register-table">
        <thead>
            <tr>
                @foreach (string field in fields) 
                {
                    <th class="field" scope="col">@field</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="pag"></div>
</div>

@code {
    string[] fields = {"Column 1", "Column 2", "Column 3", "Column 4"}; // Query to DB and save the fields
}
